tests/*.retry
*.retry

*.log
.vagrant

molecule/default/tests/*.pyc
molecule/default/*.pyc
molecule/default/tests/__pycache__/
molecule/default/.cache/
molecule/default/.molecule

*~
~*

*/*~
*/~*

test/
